header {
  margin: 0;
  padding: 0;
  display: flex;
  height: 15vh;
  width: 100vw;
  background-color: #ffffff;
}
header .navTitleContainer {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 50%;
  width: auto;
  justify-content: flex-end;
}
header .navTitleContainer .navTitle {
  padding: 0;
  margin: 0;
  color: #7b5c4d;
  font-size: 45px;
  padding-left: 20px;
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header .navTitleContainer .navSubTitle {
  padding: 0;
  margin: 0;
  color: #7b5c4d;
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
header .navButtonContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 50%;
  width: auto;
  justify-content: end;
  align-items: end;
}
header .navButtonContainer .avatar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 50px;
  gap: 10px;
}
header .navButtonContainer .avatar .name {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #7b5c4d;
  align-content: center;
}
header .navButtonContainer .avatar .photo {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}
header .navButtonContainer .avatar .photo img {
  width: 100px;
  transition: transform 0.3s ease;
}
header .navButtonContainer .avatar .photo img:hover {
  transform: scale(1.5);
}
header .navButtonContainer .navButtons {
  display: flex;
}
header .navButtonContainer button {
  background-color: #946f5d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 40px;
  width: auto;
  height: auto;
  border: none;
  border-radius: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-right: 50px;
  margin-bottom: 10px;
  font-size: 25px;
}
header .navButtonContainer button:hover {
  background-color: #644739;
  cursor: pointer;
}

footer {
  display: flex;
  height: 10vh;
  width: 100vw;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .footerText {
  font-size: 20px;
  color: #7b5c4d;
  font-family: "Quicksand", sans-serif;
}
footer .donationButton {
  background-color: #946f5d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 40px;
  width: auto;
  height: auto;
  border: none;
  border-radius: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-size: 20px;
}
footer .donationButton:hover {
  background-color: #644739;
  cursor: pointer;
}

#homeContent {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}
#homeContent .firstMainContainer {
  padding: 0;
  margin: 0;
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}
#homeContent .firstMainContainer .webSiteName {
  padding: 0;
  margin: 0;
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 60px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  margin-right: 400px;
  margin-top: 90px;
}
#homeContent .firstMainContainer .firstDescription {
  padding: 0;
  margin: 0;
  margin-right: 165px;
  color: #ffffff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
#homeContent .secondMainContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: flex-end;
  gap: 10px;
}
#homeContent .secondMainContainer .secondDescription {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 32px;
  line-height: 50px;
  padding-left: 260px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
}
#homeContent .secondMainContainer .inscriptionButton {
  background-color: #ffffff;
  color: #946f5d;
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  width: auto;
  height: auto;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  transition: background-color 0.3s ease;
  margin-left: 260px;
  margin-bottom: 100px;
  font-size: 25px;
}
#homeContent .secondMainContainer .inscriptionButton:hover {
  background-color: #cccccc;
  cursor: pointer;
}

#accountContent {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#donationContent {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#connectionContent {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.8470588235);
}
#connectionContent .firstContainer {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 50%;
}
#connectionContent .firstContainer .connectionTitle {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
}
#connectionContent .secondContainer {
  display: flex;
  align-items: center;
}
#connectionContent .secondContainer .registrationForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: start;
}
#connectionContent .secondContainer ::-moz-placeholder {
  color: #7b5c4d;
  opacity: 1;
}
#connectionContent .secondContainer ::placeholder {
  color: #7b5c4d;
  opacity: 1;
}
#connectionContent .secondContainer input {
  width: 400px;
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  height: 35px;
  transition: background-color 0.3s ease;
  padding-left: 20px;
}
#connectionContent .secondContainer input:hover {
  background-color: #cccccc;
  cursor: pointer;
}
#connectionContent .secondContainer button {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7b5c4d;
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  height: 35px;
  transition: background-color 0.3s ease;
}
#connectionContent .secondContainer button:hover {
  background-color: #cccccc;
  cursor: pointer;
}
#connectionContent .secondContainer a {
  text-decoration: none;
}

#ownerMenuContent {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.8470588235);
  justify-content: center;
  align-items: center;
}

#ownerPageContent {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#tenantMenuContent {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.8470588235);
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul .link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 25px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  transition: background-color 0.3s ease;
}
ul .link:hover {
  color: #cccccc;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.link:visited,
.link:active,
.link:hover,
.link:focus {
  text-decoration: none;
}

#tenantPageContent {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#messagesContent {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#favoritesContent {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#contactContent {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#adContent {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#addAdContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-right: 500px;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}
#addAdContent .addAdDescription {
  margin: 0;
  padding: 0;
  margin-top: 200px;
  margin-bottom: 20px;
  margin-right: 500px;
  text-align: left;
  font-size: 32px;
  line-height: 45px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
}
#addAdContent .addAdButton {
  display: flex;
  gap: 20px;
  background-color: #ffffff;
  color: #946f5d;
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  width: auto;
  height: auto;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  transition: background-color 0.3s ease;
  padding: 10px 30px;
  margin-right: 500px;
  font-size: 28px;
}
#addAdContent .addAdButton:hover {
  background-color: #cccccc;
  cursor: pointer;
}
#addAdContent .addAdButton #plus {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #946f5d;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  line-height: 0;
  height: auto;
  min-height: 40px;
  width: auto;
  min-width: 40px;
  border-radius: 20px;
  font-size: 30px;
}

#inscriptionContent {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.8470588235);
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  margin-left: 100px;
}
.leftContainer .accountCreationTitle {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  margin-top: 100px;
}
.leftContainer .imageUpload {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}
.leftContainer .imageUpload #profileImage {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  background: none;
}
.leftContainer .imageUpload #profileImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.leftContainer .imageUpload #profileImage img:hover {
  transform: scale(1.1);
}
.leftContainer p {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6352941176));
  margin-top: 10px;
}

.rightContainer {
  width: 50%;
  height: 100%;
}
.rightContainer .checkRoles {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  gap: 30px;
}
.rightContainer .checkRoles .role {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: #ffffff;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.rightContainer .checkRoles .role input[type=radio] {
  width: 50px;
  transform: scale(0.6);
}
.rightContainer .registrationForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: start;
}
.rightContainer ::-moz-placeholder {
  color: #7b5c4d;
  opacity: 1;
}
.rightContainer ::placeholder {
  color: #7b5c4d;
  opacity: 1;
}
.rightContainer input {
  width: 400px;
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  height: 35px;
  transition: background-color 0.3s ease;
  padding-left: 20px;
}
.rightContainer input:hover {
  background-color: #cccccc;
  cursor: pointer;
}
.rightContainer button {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7b5c4d;
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  height: 35px;
  transition: background-color 0.3s ease;
}
.rightContainer button:hover {
  background-color: #cccccc;
  cursor: pointer;
}
.rightContainer a {
  text-decoration: none;
}

.rolesModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
}
.modalContent p {
  font-family: "Quicksand", sans-serif;
  color: #7b5c4d;
  font-weight: 700;
  font-size: 17px;
}
.modalContent h3 {
  font-family: "Quicksand", sans-serif;
  color: #7b5c4d;
  font-weight: bolder;
  font-size: 22px;
}
.modalContent button {
  background-color: #946f5d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 40px;
  width: auto;
  height: auto;
  border: none;
  border-radius: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
  padding: 5px 20px;
}
.modalContent button:hover {
  background-color: #644739;
  cursor: pointer;
}

#adCreationContent {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

@font-face {
  font-family: "Quicksand";
  src: url("../../assets/Quicksand-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jockey One";
  src: url("../../assets/JockeyOne-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("/src/assets/Background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContent {
  padding: 0;
  margin: 0;
  height: 75vh;
  width: 100vw;
  overflow: hidden;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=global.css.map */