@use "../../components/Header/Header" as *;
@use "../../components/Footer/Footer" as *;

@use "../../components/pages/Home/Home" as *;
@use "../../components/pages/Account/Account" as *;
@use "../../components/pages/Donation/Donation" as *;
@use "../../components/pages/Connection/Connection" as *;
@use "../../components/pages/OwnerMenu/OwnerMenu" as *;
@use "../../components/pages/OwnerPage/OwnerPage" as *;
@use "../../components/pages/TenantMenu/TenantMenu" as *;
@use "../../components/pages/TenantPage/TenantPage" as *;
@use "../../components/pages/Messages/Messages" as *;
@use "../../components/pages/Favorites/Favorites" as *;
@use "../../components/pages/Contact/Contact" as *;
@use "../../components/pages/Ads/Ads" as *;
@use "../../components/pages/AddAd/AddAd" as *;
@use "../../components/pages/Inscription/Inscription" as *;
@use "../../components/pages/AdCreation/AdCreation" as *;

@font-face {
  font-family: "Quicksand";
  src: url("../../assets/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Jockey One";
  src: url("../../assets/JockeyOne-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("/src/assets/Background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContent {
  padding: 0;
  margin: 0;
  height: 75vh;
  width: 100vw;
  overflow: hidden;
}
