header {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 15vh;
  height: auto;
  width: 100vw;
  justify-content: space-between;
  background-color: #ffffff;
}
header .navTitleContainer {
  padding-left: 2em;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  justify-content: flex-end;
}
header .navTitleContainer .navTitle {
  padding: 0;
  margin: 0;
  color: #7b5c4d;
  font-size: 2.5rem;
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header .navTitleContainer .navSubTitle {
  padding: 0;
  margin: 0;
  color: #7b5c4d;
  font-size: 1.5em;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
header .navButtonContainer {
  padding-right: 3em;
  padding-bottom: 0.5em;
  margin: 0;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  justify-content: flex-end;
  align-items: end;
}
header .navButtonContainer .avatar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 0.5em;
}
header .navButtonContainer .avatar .name {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #7b5c4d;
  align-content: center;
}
header .navButtonContainer .avatar .photo {
  display: flex;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}
header .navButtonContainer .avatar .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
header .navButtonContainer .avatar .photo img:hover {
  transform: scale(1.2);
}
header .navButtonContainer .navButtons {
  display: flex;
  gap: 2em;
}
header .navButtonContainer button {
  display: flex;
  background-color: #946f5d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 0.4em 1.5em;
  width: auto;
  height: auto;
  border: none;
  border-radius: 1.25em;
  text-align: center;
  transition: background-color 0.3s ease;
  font-size: 1.5em;
}
header .navButtonContainer button:hover {
  background-color: #644739;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  header .navTitleContainer {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  header .navTitleContainer .navSubTitle {
    display: none;
  }
  header .navButtonContainer {
    gap: 2em;
    padding: 0;
    margin: 0;
    padding-bottom: 0.5em;
    width: auto;
    flex-direction: row-reverse;
    align-items: center;
  }
  header .navButtonContainer button {
    white-space: nowrap;
  }
}
@media (max-width: 430px) {
  header .navButtonContainer {
    font-size: 0.8em;
  }
  header .navButtonContainer .navButtons {
    gap: 1em;
  }
  header .navButtonContainer .avatar {
    display: none;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  min-height: 10vh;
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
footer .footerText {
  margin: 0.5em;
  padding-right: 1.5em;
  font-size: 1em;
  color: #7b5c4d;
  font-family: "Quicksand", sans-serif;
}
footer .donationButton {
  display: flex;
  background-color: #946f5d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 0.4em 1.5em;
  width: auto;
  height: auto;
  border: none;
  border-radius: 1.25em;
  text-align: center;
  transition: background-color 0.3s ease;
  font-size: 1em;
  margin-bottom: 0.5em;
}
footer .donationButton:hover {
  background-color: #644739;
  cursor: pointer;
}

#homeContent {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}
#homeContent .firstMainContainer {
  display: flex;
  min-height: 32vh;
  height: auto;
  width: 90%;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
#homeContent .firstMainContainer .webSiteName {
  padding: 0;
  margin: 0;
  padding-right: 3.9em;
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 3em;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
}
#homeContent .firstMainContainer .firstDescription {
  padding: 0;
  margin: 0;
  color: #ffffff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  font-size: 2em;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
#homeContent .secondMainContainer {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  min-height: 32vh;
  height: auto;
  align-items: start;
  gap: 1em;
}
#homeContent .secondMainContainer .secondDescription {
  margin: 0;
  padding-left: 3em;
  text-align: left;
  font-size: 2em;
  line-height: 1.5em;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
}
#homeContent .secondMainContainer .inscriptionButton {
  display: flex;
  background-color: #ffffff;
  color: #946f5d;
  border: none;
  border-radius: 1.25em;
  padding: 0.4em 1.5em;
  width: auto;
  height: auto;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  transition: background-color 0.3s ease;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-left: 4em;
}
#homeContent .secondMainContainer .inscriptionButton:hover {
  background-color: #cccccc;
  cursor: pointer;
}

@media (max-width: 768px) {
  #homeContent .firstMainContainer,
  #homeContent .secondMainContainer {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  #homeContent .firstMainContainer .webSiteName,
  #homeContent .secondMainContainer .webSiteName {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #homeContent .firstMainContainer .firstDescription,
  #homeContent .firstMainContainer .secondDescription,
  #homeContent .secondMainContainer .firstDescription,
  #homeContent .secondMainContainer .secondDescription {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    font-size: 1.5em;
  }
  #homeContent .firstMainContainer .inscriptionButton,
  #homeContent .secondMainContainer .inscriptionButton {
    margin: 0;
    margin-bottom: 1em;
  }
}
@media (max-width: 430px) {
  #homeContent .secondMainContainer .inscriptionButton {
    font-size: 1.25em;
    padding: 0.5em 0.5em;
  }
}
#accountContent {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#donationContent {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#connectionContent {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100vw;
  justify-content: space-evenly;
  background-color: rgba(148, 111, 93, 0.8470588235);
}
#connectionContent .firstContainer {
  display: flex;
  padding-top: 6em;
  margin: 0;
  height: auto;
  width: auto;
  align-items: start;
}
#connectionContent .firstContainer .connectionTitle {
  padding: 0;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
}
#connectionContent .secondContainer {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
}
#connectionContent .secondContainer .registrationForm {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  justify-content: center;
  align-items: start;
}
#connectionContent .secondContainer ::-moz-placeholder {
  color: #7b5c4d;
  opacity: 1;
}
#connectionContent .secondContainer ::placeholder {
  color: #7b5c4d;
  opacity: 1;
}
#connectionContent .secondContainer input {
  width: 20em;
  display: flex;
  align-items: center;
  color: #7b5c4d;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 1.25em;
  font-size: 1.25em;
  height: 1.5em;
  transition: background-color 0.3s ease;
  padding-left: 1.25em;
}
#connectionContent .secondContainer input:hover {
  background-color: #cccccc;
  cursor: pointer;
}
#connectionContent .secondContainer input::-moz-placeholder {
  color: #7b5c4d;
}
#connectionContent .secondContainer input::placeholder {
  color: #7b5c4d;
}
#connectionContent .secondContainer button {
  width: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7b5c4d;
  display: flex;
  align-items: center;
  color: #7b5c4d;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 1.25em;
  font-size: 1.25em;
  height: 1.5em;
  transition: background-color 0.3s ease;
}
#connectionContent .secondContainer button:hover {
  background-color: #cccccc;
  cursor: pointer;
}
#connectionContent .secondContainer button::-moz-placeholder {
  color: #7b5c4d;
}
#connectionContent .secondContainer button::placeholder {
  color: #7b5c4d;
}
#connectionContent .secondContainer a {
  text-decoration: none;
}

@media (max-width: 430px) {
  #connectionContent .firstContainer {
    align-items: center;
  }
  #connectionContent .secondContainer {
    width: 100%;
  }
  #connectionContent .secondContainer .registrationForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #connectionContent .secondContainer .registrationForm input {
    width: 15em;
    padding: 0;
    text-align: center;
  }
}
#ownerMenuContent {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(148, 111, 93, 0.5960784314);
}
#ownerMenuContent ul {
  padding: 0.5em;
  margin: 0;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  text-align: center;
  flex-direction: column;
}
#ownerMenuContent ul .link {
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  transition: background-color 0.3s ease;
}
#ownerMenuContent ul .link:hover {
  color: #cccccc;
  cursor: pointer;
}

#ownerPageContent {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#tenantMenuContent {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(148, 111, 93, 0.5960784314);
}
#tenantMenuContent ul {
  padding: 0.5em;
  margin: 0;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  text-align: center;
  flex-direction: column;
}
#tenantMenuContent ul .link {
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  transition: background-color 0.3s ease;
}
#tenantMenuContent ul .link:hover {
  color: #cccccc;
  cursor: pointer;
}

#tenantPageContent {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#messagesContent {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#favoritesContent {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#contactContent {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#adContent {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
}

#addAdContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.8470588235);
}
#addAdContent .addAdDescription {
  margin: 0;
  padding: 0;
  padding-bottom: 0.3em;
  text-align: left;
  font-size: 2em;
  line-height: 1.5em;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
}
#addAdContent .addAdButton {
  display: flex;
  gap: 1em;
  display: flex;
  background-color: #ffffff;
  color: #946f5d;
  border: none;
  border-radius: 1.25em;
  padding: 0.4em 1.5em;
  width: auto;
  height: auto;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  transition: background-color 0.3s ease;
  padding: 0.3em 1em;
  font-size: 1.8em;
  align-items: center;
}
#addAdContent .addAdButton:hover {
  background-color: #cccccc;
  cursor: pointer;
}
#addAdContent .addAdButton #plus {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #946f5d;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  line-height: 0;
  height: auto;
  min-height: 1.5em;
  width: auto;
  min-width: 1.5em;
  border-radius: 50%;
  font-size: 1em;
}

#inscriptionContent {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100vw;
  justify-content: space-evenly;
  background-color: rgba(148, 111, 93, 0.8470588235);
}
#inscriptionContent .leftContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  width: auto;
  height: auto;
  text-align: center;
}
#inscriptionContent .leftContainer .accountCreationTitle {
  margin: 0;
  padding: 0;
  padding-top: 2em;
  text-align: center;
  font-size: 2em;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
}
#inscriptionContent .leftContainer .imageUpload {
  display: flex;
  width: 9em;
  height: 9em;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}
#inscriptionContent .leftContainer .imageUpload #profileImage {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  background: none;
}
#inscriptionContent .leftContainer .imageUpload #profileImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#inscriptionContent .leftContainer .imageUpload #profileImage img:hover {
  transform: scale(1.1);
}
#inscriptionContent .leftContainer p {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 1em;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6352941176));
  margin-top: 10px;
}
#inscriptionContent .rightContainer {
  box-sizing: border-box;
  display: flex;
  width: auto;
  height: auto;
}
#inscriptionContent .rightContainer .checkRoles {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  display: flex;
  width: auto;
  gap: 1em;
}
#inscriptionContent .rightContainer .checkRoles .role {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: #ffffff;
  font-size: 1.25em;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
#inscriptionContent .rightContainer .checkRoles .role input[type=radio] {
  width: 3em;
  transform: scale(0.6);
}
#inscriptionContent .rightContainer .registrationForm {
  padding: 0;
  margin: 0;
  padding-bottom: 1em;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  justify-content: center;
  align-items: start;
}
#inscriptionContent .rightContainer .registrationForm input {
  width: 20em;
  display: flex;
  align-items: center;
  color: #7b5c4d;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 1.25em;
  font-size: 1.25em;
  height: 1.5em;
  transition: background-color 0.3s ease;
  padding-left: 1.25em;
}
#inscriptionContent .rightContainer .registrationForm input:hover {
  background-color: #cccccc;
  cursor: pointer;
}
#inscriptionContent .rightContainer .registrationForm input::-moz-placeholder {
  color: #7b5c4d;
}
#inscriptionContent .rightContainer .registrationForm input::placeholder {
  color: #7b5c4d;
}
#inscriptionContent .rightContainer .registrationForm button {
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7b5c4d;
  display: flex;
  align-items: center;
  color: #7b5c4d;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 1.25em;
  font-size: 1.25em;
  height: 1.5em;
  transition: background-color 0.3s ease;
}
#inscriptionContent .rightContainer .registrationForm button:hover {
  background-color: #cccccc;
  cursor: pointer;
}
#inscriptionContent .rightContainer .registrationForm button::-moz-placeholder {
  color: #7b5c4d;
}
#inscriptionContent .rightContainer .registrationForm button::placeholder {
  color: #7b5c4d;
}
#inscriptionContent .rightContainer .registrationForm a {
  text-decoration: none;
}

.rolesModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10%;
  max-width: 20em;
  text-align: center;
}
.modalContent p {
  font-family: "Quicksand", sans-serif;
  color: #7b5c4d;
  font-weight: 700;
  font-size: 1.25em;
}
.modalContent h3 {
  font-family: "Quicksand", sans-serif;
  color: #7b5c4d;
  font-weight: bolder;
  font-size: 22px;
}
.modalContent button {
  display: flex;
  background-color: #946f5d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 0.4em 1.5em;
  width: auto;
  height: auto;
  border: none;
  border-radius: 1.25em;
  text-align: center;
  transition: background-color 0.3s ease;
  padding: 0.5em 1.25em;
}
.modalContent button:hover {
  background-color: #644739;
  cursor: pointer;
}

@media (max-width: 768px) {
  #inscriptionContent .leftContainer .accountCreationTitle {
    font-size: 1.5em;
  }
}
@media (max-width: 430px) {
  #inscriptionContent .rightContainer {
    width: 100%;
  }
  #inscriptionContent .rightContainer .registrationForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #inscriptionContent .rightContainer .registrationForm input {
    width: 15em;
    padding: 0;
    text-align: center;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #7b5c4d !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#adCreationContent {
  flex-wrap: wrap;
  min-height: 75vh;
  height: auto;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5960784314);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
#adCreationContent form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
#adCreationContent form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #7b5c4d !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
#adCreationContent form .firstRentalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30%;
  width: auto;
  height: auto;
  gap: 0.5em;
}
#adCreationContent form .firstRentalContainer #adCreationTitle {
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  text-align: start;
  font-size: 2em;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
}
#adCreationContent form .firstRentalContainer label {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
#adCreationContent form .firstRentalContainer #rentalName {
  width: 30em;
  height: 2em;
  border-radius: 25px;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #7b5c4d;
  text-align: center;
}
#adCreationContent form .firstRentalContainer #beds {
  width: 3em;
  height: 2em;
  border: none;
  padding-left: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #7b5c4d;
}
#adCreationContent form #postalCode {
  font-size: 1rem;
  width: 6em;
  height: 2em;
  border-radius: 25px;
  border: none;
  color: #7b5c4d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-align: center;
}
#adCreationContent form #addressCity,
#adCreationContent form #addressDepartment,
#adCreationContent form #addressRegion,
#adCreationContent form option {
  font-size: 1rem;
  width: 15em;
  height: 2em;
  border-radius: 25px;
  border: none;
  color: #7b5c4d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-align: center;
}
#adCreationContent form #checkboxes {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}
#adCreationContent form #checkboxes .checkbox {
  height: 1.5em;
  width: 1.5em;
}
#adCreationContent form .secondRentalContainer {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  width: auto;
  height: auto;
  align-items: center;
}
#adCreationContent form .secondRentalContainer span {
  padding-top: 2em;
  color: #ffffff;
  line-height: 0;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
#adCreationContent form .secondRentalContainer #description {
  padding: 1em;
  min-width: 55em;
  width: auto;
  height: 6em;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  color: #7b5c4d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
#adCreationContent form .secondRentalContainer #description::-moz-placeholder {
  color: #7b5c4d;
  font-family: "Quicksand", sans-serif;
  opacity: 1;
  font-size: 1rem;
  font-weight: 600;
}
#adCreationContent form .secondRentalContainer #description::placeholder {
  color: #7b5c4d;
  font-family: "Quicksand", sans-serif;
  opacity: 1;
  font-size: 1rem;
  font-weight: 600;
}
#adCreationContent form .secondRentalContainer .rentalImages {
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
#adCreationContent form .secondRentalContainer .rentalImages .upload-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  margin: 1em;
  border-radius: 8px;
}
#adCreationContent form .secondRentalContainer .rentalImages .upload-zone:hover {
  background-color: #cccccc;
  cursor: pointer;
}
#adCreationContent form .secondRentalContainer .rentalImages .mainImage .upload-zone {
  width: 550px;
  height: 332px;
  overflow: hidden;
}
#adCreationContent form .secondRentalContainer .rentalImages .mainImage .upload-zone .preview-img {
  height: 340px;
}
#adCreationContent form .secondRentalContainer .rentalImages .image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#adCreationContent form .secondRentalContainer .rentalImages .image-grid .secondaryImage .upload-zone {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
#adCreationContent form .secondRentalContainer .rentalImages .image-grid .secondaryImage .upload-zone .preview-img {
  height: 150px;
}
#adCreationContent form .secondRentalContainer .rentalImages .placeholder {
  font-size: 1rem;
  color: #7b5c4d;
  text-align: center;
}
#adCreationContent form .secondRentalContainer button {
  margin-top: 1em;
  display: flex;
  background-color: #ffffff;
  color: #946f5d;
  border: none;
  border-radius: 1.25em;
  padding: 0.4em 1.5em;
  width: auto;
  height: auto;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  transition: background-color 0.3s ease;
  padding-right: 12em;
  padding-left: 12em;
  font-size: 1.25em;
}
#adCreationContent form .secondRentalContainer button:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.form-status {
  color: #ffffff;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../assets/Quicksand-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jockey One";
  src: url("../../assets/JockeyOne-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.mainContent {
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100vw;
  background-image: url("/src/assets/Background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=global.css.map */