#inscriptionContent {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100vw;
  justify-content: space-evenly;
  background-color: rgba(148, 111, 93, 0.8470588235);
}
#inscriptionContent .leftContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  width: auto;
  height: auto;
  text-align: center;
}
#inscriptionContent .leftContainer .accountCreationTitle {
  margin: 0;
  padding: 0;
  padding-top: 2em;
  text-align: center;
  font-size: 2em;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
}
#inscriptionContent .leftContainer .imageUpload {
  display: flex;
  width: 9em;
  height: 9em;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}
#inscriptionContent .leftContainer .imageUpload #profileImage {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  background: none;
}
#inscriptionContent .leftContainer .imageUpload #profileImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#inscriptionContent .leftContainer .imageUpload #profileImage img:hover {
  transform: scale(1.1);
}
#inscriptionContent .leftContainer p {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 1em;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6352941176));
  margin-top: 10px;
}
#inscriptionContent .rightContainer {
  box-sizing: border-box;
  display: flex;
  width: auto;
  height: auto;
}
#inscriptionContent .rightContainer .checkRoles {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  display: flex;
  width: auto;
  gap: 1em;
}
#inscriptionContent .rightContainer .checkRoles .role {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: #ffffff;
  font-size: 1.25em;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
#inscriptionContent .rightContainer .checkRoles .role input[type=radio] {
  width: 3em;
  transform: scale(0.6);
}
#inscriptionContent .rightContainer .registrationForm {
  padding: 0;
  margin: 0;
  padding-bottom: 1em;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  justify-content: center;
  align-items: start;
}
#inscriptionContent .rightContainer .registrationForm input {
  width: 20em;
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 1.25em;
  font-size: 1.25em;
  height: 1.5em;
  transition: background-color 0.3s ease;
  padding-left: 1.25em;
}
#inscriptionContent .rightContainer .registrationForm input:hover {
  background-color: #cccccc;
  cursor: pointer;
}
#inscriptionContent .rightContainer .registrationForm input ::-moz-placeholder {
  color: #7b5c4d;
  opacity: 1;
}
#inscriptionContent .rightContainer .registrationForm input ::placeholder {
  color: #7b5c4d;
  opacity: 1;
}
#inscriptionContent .rightContainer .registrationForm button {
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7b5c4d;
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 1.25em;
  font-size: 1.25em;
  height: 1.5em;
  transition: background-color 0.3s ease;
}
#inscriptionContent .rightContainer .registrationForm button:hover {
  background-color: #cccccc;
  cursor: pointer;
}
#inscriptionContent .rightContainer .registrationForm a {
  text-decoration: none;
}

.rolesModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10%;
  max-width: 20em;
  text-align: center;
}
.modalContent p {
  font-family: "Quicksand", sans-serif;
  color: #7b5c4d;
  font-weight: 700;
  font-size: 1.25em;
}
.modalContent h3 {
  font-family: "Quicksand", sans-serif;
  color: #7b5c4d;
  font-weight: bolder;
  font-size: 22px;
}
.modalContent button {
  background-color: #946f5d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 0.4em 1.5em;
  width: auto;
  height: auto;
  border: none;
  border-radius: 1.25em;
  text-align: center;
  transition: background-color 0.3s ease;
  padding: 0.5em 1.25em;
}
.modalContent button:hover {
  background-color: #644739;
  cursor: pointer;
}

@media (max-width: 768px) {
  #inscriptionContent .leftContainer .accountCreationTitle {
    font-size: 1.5em;
  }
}
@media (max-width: 430px) {
  #inscriptionContent .rightContainer {
    width: 100%;
  }
  #inscriptionContent .rightContainer .registrationForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #inscriptionContent .rightContainer .registrationForm input {
    width: 15em;
    padding: 0;
    text-align: center;
  }
}/*# sourceMappingURL=Inscription.css.map */