@use "../../../style/variables/variables.scss" as *;
@use "../../../style/mixin/mixin.scss" as *;

#inscriptionContent {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 75vh;
  height: auto;
  width: 100vw;
  justify-content: space-evenly;
  background-color: $thirdFilter-color;

  .leftContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    width: auto;
    height: auto;
    text-align: center;

    .accountCreationTitle {
      margin: 0;
      padding: 0;
      padding-top: 2em;
      text-align: center;
      font-size: 2em;
      color: $secondary-color;
      font-family: "Quicksand", sans-serif;
      font-weight: 600;
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
    }

    .imageUpload {
      display: flex;
      width: 9em;
      height: 9em;
      border-radius: 50%;
      overflow: hidden;
      justify-content: center;

      #profileImage {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
        background: none;
      }

      #profileImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    p {
      font-family: "Quicksand", sans-serif;
      font-weight: 600;
      color: $secondary-color;
      font-size: 1em;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6352941176));
      margin-top: 10px;
    }
  }

  .rightContainer {
    box-sizing: border-box;
    display: flex;
    width: auto;
    height: auto;

    .checkRoles {
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      display: flex;
      width: auto;
      gap: 1em;

      .role {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        color: $secondary-color;
        font-size: 1.25em;
        font-family: $first-fontFamily;
        font-weight: 600;
        input[type="radio"] {
          width: 3em;
          transform: scale(0.6);
        }
      }
    }

    .registrationForm {
      padding: 0;
      margin: 0;
      padding-bottom: 1em;
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      gap: 1.25em;
      justify-content: center;
      align-items: start;

      input {
        width: 20em;
        @include form;
        padding-left: 1.25em;
      }

      button {
        width: 8em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $tertiary-color;
        @include form;
      }
      a {
        text-decoration: none;
      }
    }
  }
}
.rolesModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: $secondary-color;
  padding: 2rem;
  border-radius: 10%;
  max-width: 20em;
  text-align: center;
  p {
    font-family: $first-fontFamily;
    color: $tertiary-color;
    font-weight: 700;
    font-size: 1.25em;
  }
  h3 {
    font-family: $first-fontFamily;
    color: $tertiary-color;
    font-weight: bolder;
    font-size: 22px;
  }
  button {
    @include brownButton;
    padding: 0.5em 1.25em;
  }
}

@media (max-width: 768px) {
  #inscriptionContent {
    .leftContainer {
      .accountCreationTitle {
        font-size: 1.5em;
      }
    }
  }
}

@media (max-width: 430px) {
  #inscriptionContent {
    .rightContainer {
      width: 100%;

      .registrationForm {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          width: 15em;
          padding: 0;
          text-align: center;
        }
      }
    }
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: $tertiary-color !important;
  transition: background-color 5000s ease-in-out 0s;
}
