$primary-color: #946f5d;
$secondary-color: #ffffff;
$tertiary-color: #7b5c4d;

$firstFilter-color: rgba(148, 111, 93, 0.5019607843);
$secondFilter-color: #946f5d98;
$thirdFilter-color: #946f5dd8;
$brownHover-color: #644739;
$whiteHover-color: #cccccc;

$first-fontFamily: "Quicksand", sans-serif;
$second-fontFamily: "Jockey One", sans-serif;
