@use "../variables/variables.scss" as *;

@mixin brownButton {
  background-color: $primary-color;
  font-family: $first-fontFamily;
  font-weight: 600;
  color: $secondary-color;
  padding: 0.4em 1.5em;
  width: auto;
  height: auto;
  border: none;
  border-radius: 1.25em;
  text-align: center;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $brownHover-color;
    cursor: pointer;
  }
}

@mixin whiteButton {
  background-color: $secondary-color;
  color: $primary-color;
  border: none;
  border-radius: 1.25em;
  padding: 0.4em 1.5em;
  width: auto;
  height: auto;
  text-align: center;
  font-family: $first-fontFamily;
  font-weight: 700;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $whiteHover-color;
    cursor: pointer;
  }
}

@mixin form {
  display: flex;
  align-items: center;
  font-family: $first-fontFamily;
  font-weight: 700;
  border: none;
  border-radius: 1.25em;
  font-size: 1.25em;
  height: 1.5em;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $whiteHover-color;
    cursor: pointer;
  }
}
