@use "../../style/variables/variables.scss" as *;
@use "../../style/mixin/mixin.scss" as *;

header {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 15vh;
  height: auto;
  width: 100vw;
  justify-content: space-between;
  background-color: $secondary-color;

  .navTitleContainer {
    padding-left: 2em;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: flex-end;

    .navTitle {
      padding: 0;
      margin: 0;
      color: $tertiary-color;
      font-size: 2.5rem;
      font-family: $second-fontFamily;
      font-weight: 400;
      font-style: normal;
    }

    .navSubTitle {
      padding: 0;
      margin: 0;
      color: $tertiary-color;
      font-size: 1.5em;
      font-family: $first-fontFamily;
      font-weight: 700;
    }
  }
  .navButtonContainer {
    padding-right: 3em;
    padding-bottom: 0.5em;
    margin: 0;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: end;
    align-items: end;

    .avatar {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      gap: 0.5em;

      .name {
        font-family: $first-fontFamily;
        font-weight: 700;
        color: $tertiary-color;
        align-content: center;
      }

      .photo {
        display: flex;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        overflow: hidden;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
    .navButtons {
      display: flex;
    }
    button {
      @include brownButton;
      font-size: 1.5em;
    }
  }
}

@media (max-width: 768px) {
  header {
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;

    .navTitleContainer {
      padding: 0;
      margin: 0;
      width: 100%;

      .navSubTitle {
        display: none;
      }
    }

    .navButtonContainer {
      padding: 0;
      margin: 0;
      padding-bottom: 1em;
    }
  }
}
