@use "../../style/variables/variables.scss" as *;
@use "../../style/mixin/mixin.scss" as *;

footer {
  display: flex;
  flex-wrap: wrap;
  min-height: 10vh;
  width: 100%;
  background-color: $secondary-color;
  justify-content: center;
  align-items: center;

  .footerText {
    margin: 0.5em;
    padding-right: 1.5em;
    font-size: 1em;
    color: $tertiary-color;
    font-family: $first-fontFamily;
  }

  .donationButton {
    @include brownButton;
    font-size: 1em;
    margin-bottom: 0.5em;
  }
}
