footer {
  display: flex;
  height: 10vh;
  width: 100vw;
  background-color: $secondary-color;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .footerText {
    font-size: 20px;
    color: $tertiary-color;
    font-family: $first-fontFamily;
  }

  .donationButton {
    @include brownButton;
    font-size: 20px;
  }
}
