@use "../../../style/variables/variables.scss" as *;
@use "../../../style/mixin/mixin.scss" as *;

#ownerMenuContent {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $thirdFilter-color;
  justify-content: center;
  align-items: center;
}
